<div class="container">

    <div class="card">
        <h1>Profile Page</h1>

        <h2>Hi {{user.username}}</h2>

        
        <p>Edit stuff</p>

        {{#if error}}
        <p>ERROR: {{error}}</p>
        {{/if}}

    </div>
    <p><a href="/">Back home</a></p>
</div>